include AUTHORS
include LICENSE
include README.md
recursive-include smoketest *
recursive-include smoketest_monitor *
recursive-exclude * __pycache__
recursive-exclude *.py[co]
recursive-exclude *.sqlite3
